body {
  font-family: arial;
  margin:0;
  background-color: #eee;
}

#container {
  width: 980px;
  margin:0 auto;
}
img {
  width: 980px;
}

#main-navigation {
  background: #181818;
  padding: 10px;

}
#main-navigation ul {
  text-align: right;
  list-style: none;
  margin-right: 10px;

}
#main-navigation li {
  display: inline-block;
  margin-left: 40px;
}

#main-navigation a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 6px;
}
#main-navigation a.current{
  background: #8f646c;
  border-radius: 4px;
}

#shop {
  background-color: #eee;
  border-radius: 20px;
  margin: 50px 0;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 36px;
  font-family: system-ui;
  background-color: #C0C0C0;
  padding:20px;

}

}
